<div class="w-full h-screen bg-[#0a192f] text-gray-300">
    <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="max-w-[1000px] w-full grid grid-cols-2 gap-8 ">
            <div class="sm:text-right pb-8 pl-4">
                <p class="text-4xl font-bold inline border-b-4 border-blue-500">About</p>
            </div>

            <div></div>
        </div>

            <div class="max-w-[1000px] w-full grid sm:grid-cols-2 gap-8 px-4">
                <div class="sm:text-right text-3xl font-bold">
                    <p>Hi 👋. I'm Mohamed, nice to meet you. Please take a look around.</p>
                </div>
                <div>
                    <p>I am a passionate full-stack developer based in Tunisia. My interest in web development started back in 2016 when I got my first personal computer.
                         Fast-forward to today: I studied computer sciences in university and got my bachelor degree. <br>
                        <br>
                        What sets me apart is that I am extremely motivated to constantly develop my skills and to evolve professionally. <br>
                        I'm known for my expertise in both front-end and back-end development and a deep understanding of web technologies, databases, and APIs. <br>
                        <br>
                        Feel free to explore my portfolio to get a better sense of my work, and don't hesitate to send me an email .
                    </p>
                    <br>
                    <p>Thank you for visiting, and I look forward to connecting with you!</p>
                </div>
        </div>
    </div>

 </div>
