<div class="w-full h-screen bg-[#0a192f]">

    <div class="max-w-[1000px] mx-auto px-8 flex flex-col justify-center h-full">
        <p class="text-2xl text-blue-500">Hi, my name is</p>
        <h1 class="text-4xl sm:text-7xl font-bold text-[#ccd6f6]">Aifia Moahmed Amine</h1>
        <h2 class="text-4xl sm:text-7xl font-bold text-[#8892b0]">I'm a Full Stack Developer.</h2>
        <p class="text-[#8892b0] py-4 max-w-[700px]">some text</p>
        <div>
            <button class="text-white group border-2 px-6 py-3 my-2 flex items-center hover:bg-blue-500 hover:border-blue-500">View Work
                <span class="ml-3 group-hover:rotate-90 duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                </span>
            </button>
        </div>

    </div>

</div>
